.container{
    background-color: #6c63ff;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.logo{
    padding-left: 2rem;
}
.navlinks{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    margin-right: 1rem;
}

.navlinks a{
    font-weight: 500;
    font-size: 1.3rem;
    transition: color ease 600ms;
}
.navlinks a:hover{
    color: #ffb116;
}

.dropdown{
    display: none;
}
.dropdown__content{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: all ease 500ms;
}
@media only screen and (max-width: 640px) {
    .dropdown{
        display: block;
    }
    .container{
        display: block;
    }
    .head{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navlinks{
        flex-direction: column;
        margin-right: 0;
        padding: 1rem 0;
    }
    .dropdown__content.active{
        display: block;
    }
    .dropdown__content.inactive{
        display: none;
        transition: all ease 500ms;
    }
}